@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;     
    background-color: #1c1c1c;
    text-align: center;
    font-family:'Roboto', sans-serif; 
    /* width: 500px; */
    font-size: 20px;
    /* width:auto */
    /* max-width: fit-content; */
    
}

.mainTitle {
    display: flex;
    justify-content: center;
    color: #f5b32f;
}

.cenImage {
    
   display:flex;
   justify-content:center;
   flex-grow: 1;
   width: 100%;
   /* width:60%;   */
   /* width:auto; */
   /* max-width: fit-content; */
}

 img {
    display: flex;
    max-width: min-content;
      width:90%;  
}   

a:hover{
    color:#ffffff
}

a {
    color: #1c1c1c;
    text-decoration: none;
    hover color: blue; 
    }


    h2 {
    color: #f5b32f;
    font-size: 50px;
}

p {
    color: #ffffff;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5b32f;
    flex-wrap:wrap;
  
 
    /* max-width: fit-content; */
}

.logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    /* max-width: fit-content; */
}


.Rev1 {
    display: flex;
    color:#ffffff;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* flex-basis: 100%; */
    flex-grow: 1;
    width: 100%;
    /* max-width: fit-content; */
    /* flex-wrap: wrap; */
    /* padding:5em; */
}

.Rev2 {
    display: flex;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    /* flex-basis: 100%; */
    flex-grow: 1;
    width: 100%;
    /* max-width: fit-content; */
    /* padding:0 75px 75px 0; */ 
    /* padding:5em; */
}

.socialBar {
    display: flex;
    justify-content: space-around;
    background-color: #f5b32f;
    flex-wrap:wrap;
    /* max-width: fit-content; */
}

/* .table {
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    text-align: center;
} */